.dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  max-width: 230px;
  margin-top: 12px;
  margin-left: -6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  overflow-wrap: break-word;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.dropdown--search {
  margin-top: 0;
  right: 0;
}

.dropdown-toggle:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.dropdown__link {
  display: block;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-blue);
}

.dropdown__link:hover {
  color: var(--color-orange);
}
